@import url('./reset.css');

:root {
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: rgb(248, 248, 248);
    --tertiary-bg-color: rgb(211, 211, 211);
    --quaternary-bg-color: rgb(238, 238, 238);
    --primary-fg-color: #000000;
    --secondary-fg-color: #515151;
    --youtube-red: #CC0000;
}

html {
    font-size: 1rem;
    background-color: var(--main-bg-color);
    color: var(--primary-fg-color);
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 3.5rem;
    margin: 0rem 1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.imgs {
    width: 2rem;
}

#left {
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 15rem;
}

#hamburger-menu {
    display: flex;
    align-items: center;
    width: fit-content;
    height: inherit;
    border: none;
    background-color: var(--main-bg-color);
}

#hamburger-icon {
    align-self: top;
}

#logo {
    display: flex;
    align-items: center;
    height: inherit;
    margin-left: 1.2rem;
}

#logo img {
    height: 1.5rem;
    width:fit-content;
}

#center {
    align-self: center;
    display: flex;
    width: 50rem;
    margin-left: 25rem;
    margin-right: 15rem;
}

#search-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px var(--tertiary-bg-color);
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 37rem;
    background-color: var(--secondary-bg-color);
    align-self: flex-start;
}

#white-search {
    position: absolute;
    background-color: var(--main-bg-color);
    border: 1px solid var(--primary-fg-color);
    height: inherit;
    width: 33rem;
    border-radius: 1.25rem 0px 0px 1.25rem;
    border-color: var(--tertiary-bg-color);
}

#search-text input {
    width: 28rem;
    height: 1.5rem;
    border: none;
    padding-left: 1rem;
    font-size: 1rem;
    color: var(--primary-fg-color);
    background-color: transparent;
    margin-left: 1rem;
    z-index: 1;
}

#white-search #tia {
    position: absolute;
    right: 0.5rem;
    top: 25%;
}

#search-text #search-icon {
    order: -1;
    position:absolute;
    right: 35.7%;
    opacity: 50%;
    width: 1.5rem;
}

#voice {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--quaternary-bg-color);
    border-radius: 1.25rem;
    margin-left: 1rem;
    position: relative;
}

#voice img {
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 60%;
}

#right {
    display: flex;
    align-self: right;
    width: 12rem;
    justify-content: space-between;
}

#create {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-around;
    background-color: var(--quaternary-bg-color);
    width: 6rem;
    height: 2.5rem;
    border-radius: 1.25rem;
}

#criar {
    margin-right: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

#notifications {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
}

#right #user-picture {
    align-self: center;
    width: 2rem;
    height: 2rem;
    border-radius: 1.25rem;
    border: 1px solid transparent;
    background-image: url('../images/cat-with-wry-smile-svgrepo-com.svg');
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1.6rem;
    width: 78.7rem;
}

#video-container {
}

#video-container iframe {
    border-radius: 0.8rem;
}

#video-about {
}

#video-info {
    display: flex;
    justify-content: space-between;
}

#channel {
}

#video-title {
    padding-top: 0.5rem;
}

#video-title span {
    font-size: 1.2rem;
    font-weight: 800;
}

#channel {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

#channel-picture {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    background-image: url('../images/akita.jpg');
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
}

#channel-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

#channel-name span { 
    font-size: 1rem;
    font-weight: 500;
    text-wrap: nowrap;
}

#subscribers span {
    font-size: 0.8rem;
    color: var(--secondary-fg-color);
    text-wrap: nowrap;
}

#subscription {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    background-color: var(--secondary-bg-color);
    padding: 0.2rem 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

#subscription img {
    width: 2rem;
}

#buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: fit-content;
}


#buttons img {
    width: 2rem;
}

#buttons > div {
    background-color: var(--secondary-bg-color);
    border-radius: 1.25rem;
    border-color: transparent;
    height: 2rem;
    padding: 0.3rem 0.5rem;
}

#buttons div {
    display: flex;
    align-items: center;
}

.button-text {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0rem 1rem;
    text-wrap: nowrap;
    align-content: center;
}

#video-description {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    background-color: var(--quaternary-bg-color);
    border-radius: 0.5rem;
}

#view-number {
    font-size: 0.8rem;
    font-weight: 600;
}

#posted-when {
    font-size: 0.8rem;
    font-weight: 600;
}

#playlist {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--secondary-fg-color);
}

#description {
    line-height: 1rem;
    font-size: 0.8rem;
    white-space: pre-line;
    overflow-y: scroll;
    height: 5rem;
}

#user-interaction {
    margin-top: 1rem;
}

#interaction-general {
    display: flex;
    align-items: flex-end;
}

#comment-numbers {
    font-size: 1.5rem;
    font-weight: 600;
}

#sort {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

#sort img {
    width: 2rem;
}

.imgs {
    width: 2rem;
}

.imgs-more {
    width: 1.2rem;
    opacity: 0.7;
}

#sort-text {
    margin-left: 0.5rem;
}

#sort-text span {
    font-size: 0.8rem;
    font-weight: 600;
}

#write-comment {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

#user-picture {
    width: 2rem;
    height: 2rem;
    border-radius: 1.25rem;
    border: 1px solid transparent;
    background-image: url('../images/cat-with-wry-smile-svgrepo-com.svg');
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
}

#comment-box {
    margin-left: 1rem;
    width: 100%;
    border-bottom: 1px solid silver;
}

#comment-box input {
    width: inherit;
    border: none;
}

.button-comment {
    background-color: var(--secondary-bg-color);
    border-radius: 1.25rem;
    border-color: transparent;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.3rem 1rem;
    align-content: center;
}

#send-interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    height: 2.5rem;
}

#confirm-interaction {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

#comments {
    display: flex;
    flex-direction: column;
}

.comment-options {
    width: fit-content;
    align-self: flex-start;
}

.comment {
    display: flex;
    align-items: top;
}

.comment header {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    text-wrap: nowrap;
}

.comment-header {
    display: flex;
    align-items: flex-start;
}

.comment article {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 120rem;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment article .text {
    padding: 1rem;
    text-wrap: wrap;
    height: fit-content;
    font-size: 1rem;
}

.comment-name span b {
    font-size: 1rem;
}

.commented-when span {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.comment-photo {
    width: 4rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-image: radial-gradient(rgb(177, 9, 9), rgb(226, 138, 138));
    background-size: 4rem;
    border: 1px solid transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
}

.comment footer {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
}

.comment aside {
    display: flex;
}

.comment aside div {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
}

.comment aside img {
    margin-right: 0.5rem;
}

.comment aside div span {
    font-size: 0.8rem;
}

.comment footer img {
    width: 1rem;
    margin-left: 1rem;
}

.comment footer .comment-likes {
    display: flex;
    align-items: center;
}

.comment footer div span {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--secondary-fg-color);
    margin-left: 0.5rem;
    text-align: center;
}
.comment footer div span b {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--secondary-fg-color);
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    align-self: center;
}

.comment footer .comment-deslikes {
    display: flex;
    align-items: center;
}

#side-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.6rem;
    width: 25rem;
}

#ad {
    height: 20rem;
    width: 25rem;
    margin-bottom: 2rem;
    align-items: center;
    border: 2px solid transparent;
    border-image: linear-gradient(to top, rgb(255, 223, 81), rgb(78, 31, 3)); 
    border-image-slice: 1;
    border-radius: 2rem;
    background-image: url('../images/linkedin.png');
    background-size: cover;
    background-position: top -8rem left 2.3rem;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-attachment:local;
}

#ad-text {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    margin-top: 12rem;
}

#ad-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#ad-body {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

#recommended {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: inherit;
}

#recommended-filters {
    display: flex;
    align-content: space-between;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 0.5rem;
    height: fit-content;
    width: inherit;
    overflow-x: auto;
    padding: 0.5rem 0rem;
}

#recommended-filters button {
    background-color: var(--tertiary-bg-color);
    border-color: transparent;
    font-size: 0.9rem;
    font-weight: 500;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0rem 0.5rem;
}

#recommended-filters button:first-of-type {
    background-color: var(--primary-fg-color);
    color: var(--main-bg-color);
}

#recommendations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
    width: inherit;
}

.recommended-video-container {
    height: inherit;
    position: relative;
}

.recommended-video-container img {
    margin: auto 0;
    border-radius: 0.4rem;
}

.video-duration {
    position: absolute;
    height: 1.2rem;
    bottom: 10%;
    right: 5%;
    background-color: rgba(17, 17, 17, 0.836);
    border-radius: 0.3rem;
}

.video-duration span {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem;
    color: var(--main-bg-color);
}

.recommended-video {
    height: 6.5rem;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.recommended-video > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.recommended-text {
    display: flex;
    width: 12rem;
}


.recommended-title {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0rem 0.5rem;
    width: fit-content;
}

.recommended-channel {
    font-size: 0.8rem;
    color: var(--secondary-fg-color);
    padding: 0rem 0.5rem;
}

.recommended-numbers {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 0rem 0.5rem;
    width: fit-content;
}

.recommended-numbers div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--secondary-fg-color);
    text-wrap: nowrap;
}

#page-alignment {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    max-width: 105.7rem;
    margin: 0 auto;
}